{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}

<main role="main">
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->
      <div class="container marketing">
        <!-- START THE FEATURETTES -->
              <h1 class="featurette-heading">Привет!</h1>
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">Давайте знакомиться,</h2>
                  <h2 class="featurette-heading"><span class="text-muted">меня зовут Илья Лотник, я Python-Backend разработчик.</span></h2>
                <p class="lead">Высшее архитектурное образование. Большой опыт в качестве специалиста по 3d графике. Развитые навыки soft-skills. </p>
                    <p class="lead">Программированием интересовался давно, но полноценно начал заниматься с момента когда потребовалось написать скрипт для программы 3d-моделирования 3ds Max на языке программирования Python,
                        чтобы ускорить рабочий процеcс. Впоследствии уже стал активно изучать сам язык. </p>

                    <p class="lead">Прошел 2 курса на <a href="https://stepik.org">Stepik.org</a>:</p>
                    <p class="lead"><a href="https://stepik.org/cert/339887?auth=login">Python: основы и применение</a></p>
                    <p class="lead"><a href="https://stepik.org/cert/339887?auth=login">Программирование на Python</a></p>
              </div>
              <div class="col-md-5">
                  {% include "about/image_block.html" with img=img_1 %}
              </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
              <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">В 2020 году понял что хочу заниматься разработкой <strong>проффессионально</strong>.</h2>
                <h2 class="featurette-heading"><span class="text-muted">Для углубленного изучения выбрал Яндекс.Практикум и их курс Python-Backend разработчик.</span></h2>
                <p class="lead">Обучение длилось 9 месяцев, я многому научился и сделал несколько pet-проектов. В том числе и этот сайт. Обучение закончил успешно и получил <a href="https://disk.yandex.ru/i/MnZ_9l7HZTB2IA">диплом</a>.</p>
                  <p class="lead">После окончания обучения произошла череда не самых благоприятных событий, и мне пришлось на время забыть о поиске новой работы.</p>
                  <p class="lead">Но все это время я практиковался и писал различные скрипты на Python, делал мелкие проекты чтобы не забывать язык.</p>
              </div>
              <div class="col-md-5 order-md-1">
                  {% include "about/image_block.html" with img=img_2 %}
              </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">Время пришло. <span class="text-muted">2023 - Год перемен.</span></h2>
                <p class="lead">Сейчас я в активном поиске работы мечты. <a href="{% url "about:tech" %}">Здесь</a> стек технологий, с чем я работаю и на котором создан этот сайт. Люблю и готов учиться. Я разносторонний человек и имею много увлечений.
                    Только некоторая часть из них: робототехника, настольный и большой теннис, велоспорт, туризм. Буду рад нашему успешному сотрудничеству!</p>
                <p class="lead">До встречи!</p>

                  <p class="lead">Контакты:</p>
                  <p class="lead"><a href="https://github.com/kintolayli">Github</a> - <a href="https://t.me/kintolayli">Телеграм</a> - <a href="{% url "feedback" %}">Обратная связь</a></p>

                  <p class="lead">Мои другие проекты:</p>
                  <p class="lead"><a href="https://kintolayli.pythonanywhere.com/">TableTennisFriends</a> - Простой проект для друзей, который позволяет посчитать рейтинг игроков по формуле Арпада Эло. (Python, Django, HTML, CSS, SQLite)</p>
              </div>
                <div class="col-md-5">
                  {% include "about/image_block.html" with img=img_3 %}
                </div>
            </div>
      </div>
        <!-- /END THE FEATURETTES -->
      </div><!-- /.container -->
    </main>
{% endblock %}
