{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}

<div class="container-md pb-5 pt-2 m-auto pr-0 pl-0 mr-0 ml-0">
    <div class="card mb-1 mt-1 shadow-sm">
        <div class="card-header">
            <h1>Привет, я автор</h1>
        </div>

        <div class="card-body">
            <p class="card-text">
                <p>
                  Тут я размещу информацию о себе, используя свои умения верстать.
                  Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько абзацев текста.
                </p>

            </p>
        </div>
    </div>
</div>

{% endblock %}
