{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}

<main role="main">
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->
      <div class="container marketing">
        <!-- START THE FEATURETTES -->
          <h1 class="featurette-heading">Привет!</h1>
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Давайте знакомиться.</h2>
              <h2 class="featurette-heading"><span class="text-muted">Меня зовут Илья Лотник, я Python-Backend разработчик.</span></h2>
            <p class="lead">Имею высшее архитектурное образование. Большой опыт в качестве специалиста по 3d графике. </p>
                <p class="lead">Программированием интересовался давно, но полноценно начал заниматься с момента когда однажды потребовалось написать скрипты на Python для 3ds Max, впоследствии уже стал активно изучать сам язык. </p>

                <p class="lead">Прошел 2 курса на <a href="https://stepik.org">Stepik.org</a>:</p>
                <p class="lead"><a href="https://stepik.org/cert/339887?auth=login">Python: основы и применение</a></p>
                <p class="lead"><a href="https://stepik.org/cert/339887?auth=login">Программирование на Python</a></p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18adcd1f95f%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18adcd1f95f%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.1171875%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">В 2020 году понял что хочу заниматься разработкой <strong>профессионально</strong>.</span></h2>
            <h2 class="featurette-heading"><span class="text-muted">Выбрал Яндекс.Практикум и их курс Python-Backend разработчик.</span></h2>
            <p class="lead">Обучение длилось 9 месяцев, я многому научился и сделал несколько pet-проектов. В том числе и этот сайт. Обучение закончил успешно и получил <a href="https://disk.yandex.ru/i/MnZ_9l7HZTB2IA">диплом</a>.</p>
              <p class="lead">После окончания обучения произошла череда не самых благоприятных событий, и мне пришлось на время забыть о поиске новой работы.</p>
              <p class="lead">Но все это время я практиковался и писал различные скрипты на Python, делал мелкие проекты чтобы не забывать язык.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18adcd1f95f%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18adcd1f95f%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.1171875%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Время пришло. <span class="text-muted">2023 - Год перемен.</span></h2>
            <p class="lead">Сейчас я в активном поиске работы. <a href="{% url "about:tech" %}">Здесь</a> стек технологий, с чем я работаю и на котором создан этот сайт. Люблю и готов учиться. Я разносторонний человек и имею много увлечений.
                Только некоторая часть из них: робототехника, настольный и большой теннис, велоспорт, туризм.</p>
            <p class="lead">До встречи!</p>

              <p class="lead">Контакты:</p>
              <p class="lead"><a href="https://github.com/kintolayli">Github</a> - <a href="https://t.me/kintolayli">Телеграм</a> - <a href="{% url "feedback" %}">Обратная связь</a></p>

              <p class="lead">Мои проекты:</p>
              <p class="lead"><a href="https://kintolayli.pythonanywhere.com/">TableTennisFriends</a> - Простой проект для друзей, который позволяет посчитать рейтинг игроков по формуле Арпада Эло. (Python, Django, HTML, CSS, SQLite)</p>
          </div>
          <div class="col-md-5">
{#              <img src={% static "about/IMG_7578.jpg" %}>#}
{#              <img src={% static "image.jpg" %}>#}
              <img src="data:image/png;base64,{{ context }}">
{#            <img class="featurette-image img-fluid mx-auto" alt="500x500" style="width: 500px; height: 500px;" src="{{ context }}">#}
          </div>
        </div>
        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->
    </main>
{% endblock %}
