<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}

<div class="container-md pb-5 pt-2 m-auto pr-0 pl-0 mr-0 ml-0">
    <div class="card mb-1 mt-1 shadow-sm">
        <div class="card-header">
            <h1>Используемые технологии:</h1>
        </div>



            <div class="py-5 text-center container">

                <div class="col-md-8 text-center container" >
                    {% for tech in techs %}
                        {% include "about/tech_block.html" with tech=tech %}
                    {% endfor %}
                </div>

            </div>



        <p class="card-text">
        <div class="col-12 col-md-9">
            <p>"Облако" технологий, которые иcпользовались в этом проекте и которыми я владею в той или иной степени.</p>
        </div>

        </div>
            </p>
        </div>
    </div>
</div>

{% endblock %}
