<div class="d-flex justify-content-between align-items-center" style="background-color: #fafafa">
    <div class="btn-group-toggle">
        <div class="btn btn-light text-muted disabled">
            <!-- Ссылка на автора через @ -->
            <a name="post_{{ post.id }}" href="{% url 'profile' post.author.username %}">
                <strong class="d-block text-gray-dark">@{{ post.author }}</strong>
            </a>
        </div>

        <!-- Дата публикации поста -->
        {% include "blocks/date_of_publication.html" with item=post %}

                <!-- Если пост относится к какому-нибудь сообществу, то отобразим ссылку на него через # -->
        <div class="btn btn-light text-muted disabled">
            {% if post.group %}
                <a class="card-link muted" href="{% url 'group_posts' post.group.slug %}">
                    {{ post.group.title }}
                </a>
            {% endif %}
        </div>
    </div>

        <!-- Ссылка на редактирование поста для автора -->
    <div>
        {% if request.user == post.author %}
            <a class="btn btn-lg text-muted" href="{% url 'post_edit' post.author.username post.id %}" role="button" title="Редактировать">
                {% include "blocks/svg/pencil square.html" %}
            </a>
        {% endif %}
    </div>
</div>

<!-- Отображение заголовка -->
<a class="nav-link" href="{{ post.get_absolute_url }}" role="button">
    <h4><span style="color:#818181">{{ post.title }}</span></h4>
</a>
