{% extends "base.html" %}
{% load static %}
{% load likes_tags %}

{% block title %}
    {% if index %}
        Последние обновления
    {% else %}
        Моя лента
    {% endif %}
{% endblock %}

{% block content %}

    {% if tag %}
        <h3 class="card-text text-muted">
            Посты с тегом "{{ tag.name }}"
        </h3>
    {% endif %}

    {% for post in page %}
        {% include "blocks/post_item_likes.html" with post=post %}
    {% empty %}
            <div class="alert alert-secondary" role="alert">
                <p>Здесь пока ничего нет.</p>
               <p>Чтобы появился контент, тебе нужно
                подписаться на пользователя или группу,
                чьи интересы совпадают с твоими.</p>

                <p>Для этого зайди в
                    <a href="{% url 'index' %}">Все авторы</a>,
                    выбери пользователя или группу и подпишись.
                </p>
            </div>
    {% endfor %}

    {% if page.has_other_pages %}
        {% include "blocks/paginator.html" with items=page paginator=paginator%}
    {% endif %}

    <script>
            new Readmore('article', {
        speed: 200,
        collapsedHeight: 200,
        heightMargin: 100, //  in pixels, avoids collapsing blocks that are only slightly larger than collapsedHeight
        moreLink: '<a href="#">Читать далее</a>',
        lessLink: '<a href="#" id="less_link"></a>',
    });
    </script>

{% endblock %}
